body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
   background-image: url("https://ibb.co/xqDSpzMT");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
}

/* Logo animation */
.logo {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 5px orange; }
  to { text-shadow: 0 0 15px red; }
}

/* Game area */
.game {
  width: 90%;
  max-width: 500px;
  height: 200px;
  margin: 20px auto;
  background: #c8e6c9;
  border-bottom: 6px solid green;
  position: relative;
  overflow: hidden;
}

/* Dragon */
#dragon {
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 50px;
  border-radius: 6px;
}

/* Jump */
.jump {
  animation: jump 0.5s ease;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 120px; }
  100% { bottom: 0; }
}

/* Obstacle */
#obstacle {
  width: 25px;
  height: 40px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 500px;
}

#restart {
  display: none;
  padding: 8px 20px;
  font-size: 14px;
}
