body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

.title {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 5px orange; }
  to { text-shadow: 0 0 15px red; }
}

.board-container {
  position: relative;
  width: 320px;
  margin: 20px auto;
}

.board {
  width: 100%;
  border-radius: 10px;
}

.token {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  transition: 0.3s;
}

.you { background: red; }
.bot { background: blue; }

button {
  padding: 10px 20px;
  font-size: 16px;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
